<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Usuários <small>Lista geral</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink='/admin'><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Usuários</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <table id="usuarios" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Celular</th>
              <th>Condomínio</th>
              <th>Tipo</th>
              <th>Cadastrado em</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of usuarios" (click)="open(item)">
              <td>{{item.name}}</td>
              <td>{{item.email}}</td>
              <td>{{item.mobile | phone}}</td>
              <td>{{item.units[0]?.condominium?.name}} <span class="badge bg-red pull-right" *ngIf="item.units.length > 1">+{{item.units.length - 1}}</span></td>
              <td>{{getType(item)}}</td>
              <td>{{item.created_at}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
