<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Vihu</b> Portaria Virtual</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Faça login para iniciar sua sessão</p>

    <form (submit)="login()">
      <div class="form-group has-feedback">
        <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="data.email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="data.password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <!-- <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div> -->
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- <a href="#">I forgot my password</a><br> -->

  </div>
  <!-- /.login-box-body -->

  <div class="alert alert-danger alert-dismissible" *ngIf="errorMessage != ''">
    <i class="icon fa fa-ban"></i> {{errorMessage}}
  </div>

  <div class="alert alert-warning alert-dismissible" *ngIf="warningMessage != ''">
    <i class="icon fa fa-warning"></i> {{warningMessage}}
  </div>

</div>
<!-- /.login-box -->
