<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Revendas
    <small>Novo</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink='/admin'><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink='/admin/revendas'>Revendas</a></li>
    <li class="active">Novo</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <form role="form">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Informações Gerais</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="razaoSocial"><span class="required">*</span> Razão Social</label>
                  <input type="text" class="form-control required" name="social_name" id="razaoSocial" [(ngModel)]="data.social_name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nomeFantasia"><span class="required">*</span> Nome Fantasia</label>
                  <input type="text" class="form-control required" id="nomeFantasia" name="name" [(ngModel)]="data.name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="cnpj"><span class="required">*</span> CNPJ</label>
                  <input type="text" class="form-control required" id="cnpj" name="cnpj" [(ngModel)]="data.cnpj">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="site">Site</label>
                  <input type="text" class="form-control" id="site" name="site" [(ngModel)]="data.site">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="status">Status</label>
                  <select class="form-control" id="status" name="status" [(ngModel)]="data.status">
                    <option value="1">ATIVO</option>
                    <option value="2">SUSPENSO</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Endereço</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cep"><span class="required">*</span> CEP</label>
                            <input type="text" class="form-control required" id="cep" name="cep" placeholder="Informe o seu CEP para o sistema buscar o endereço" autocomplete="off" maxlength="9" [(ngModel)]="data.cep" (input)="getAddress()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="endereco">Endereço</label>
                            <input type="text" class="form-control required" id="endereco" name="address" readonly="" [(ngModel)]="data.address" tabindex="-1">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="numero"><span class="required">*</span> Número</label>
                            <input type="number" min="1" class="form-control required" id="numero" name="number" autocomplete="off" [(ngModel)]="data.number">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="complemento">Complemento</label>
                            <input type="text" class="form-control" id="complemento" name="complement" autocomplete="off" [(ngModel)]="data.complement">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="bairro">Bairro</label>
                            <input type="text" class="form-control required" id="bairro" name="district" readonly="" [(ngModel)]="data.district" tabindex="-1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cidade">Cidade</label>
                            <input type="text" class="form-control required" id="cidade" name="city" readonly="" [(ngModel)]="data.city" tabindex="-1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <input type="text" class="form-control required" id="estado" name="state" readonly="" [(ngModel)]="data.state" tabindex="-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" *ngIf="addressLoading == true">
                <i class="fa fa-refresh fa-spin"></i>
            </div>            
        </div>      
      </div>

      <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3 form-inline">
                        <button class="btn btn-primary pull-right" (click)="save()"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Salvar</button>
                        <button class="btn btn-danger pull-right" *ngIf="data.id" (click)="remove()"><i class="fa fa-trash"></i>&nbsp;&nbsp;Excluir</button>
                    </div>
                </div>
            </div>
        </div>      
      </div>    
    </form>
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->