<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Moradores
    <small>Novo</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink='/admin'><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink='/admin/moradores'>Moradores</a></li>
    <li class="active">Novo</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <form role="form">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Informações Gerais</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nome"><span class="required">*</span> Nome</label>
                  <input type="text" class="form-control required" id="nome" name="name" [(ngModel)]="data.name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"><span class="required">*</span> E-mail</label>
                  <input type="email" class="form-control required" id="email" name="email" [(ngModel)]="data.email">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="celular"><span class="required">*</span> Celular</label>
                  <input type="phone" class="form-control required" id="celular" name="mobile" [(ngModel)]="data.mobile">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="telefone">Telefone</label>
                  <input type="phone" class="form-control" id="telefone" name="phone" [(ngModel)]="data.phone">
                </div>
              </div>              
              <div class="col-md-3">
                <div class="form-group">
                  <label for="senha"><span class="required" *ngIf="!data.id">* </span>Senha</label>
                  <input type="password" class="form-control" [ngClass]="{'required':!data.id}" id="senha" name="password" [(ngModel)]="data.password">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="confirmacaoSenha"><span class="required" *ngIf="!data.id">* </span>Confirmação da senha</label>
                  <input type="password" class="form-control" [ngClass]="{'required':!data.id}" id="confirmacaoSenha" name="passwordConfirm" [(ngModel)]="data.passwordConfirm">
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Selecione abaixo a unidade onde o usuário reside</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" title="" (click)="addUnit()">
                <i class="fa fa-plus" style="margin-right: 3px;"></i> Adicionar unidade</button>
            </div>            
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row" *ngFor="let unit of data.units; let i=index">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="condominio"><span class="required">*</span> Condomínio</label>
                  <select class="form-control required" id="condominio_{{i}}" name="condominiums_id_{{i}}" [(ngModel)]="unit.condominiums_id">
                    <option value=""></option>
                    <option value="{{item.id}}" *ngFor="let item of condominios">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="bloco"><span class="required">*</span> Bloco</label>
                  <select class="form-control required" id="bloco_{{i}}" name="block_id_{{i}}" [(ngModel)]="unit.block_id">
                    <option value=""></option>
                    <option value="{{item.id}}" *ngFor="let item of filterBlocks(unit)">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group pull-left" style="width: calc(100% - 60px)">
                  <label for="unidade"><span class="required">*</span> Unidade</label>
                  <select class="form-control required" id="unidade_{{i}}" name="unit_id_{{i}}" [(ngModel)]="unit.id">
                    <option value=""></option>
                    <option value="{{item.id}}" *ngFor="let item of filterUnits(unit)">{{item.number}}</option>
                  </select>
                </div>
                <button class="btn btn-danger pull-right" *ngIf="data.id" (click)="removeUnit(i)" style="margin-top: 25px"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>

      <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3 form-inline">
                        <button class="btn btn-primary pull-right" (click)="save()" [disabled]="saving"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Salvar@@@</button>
                        <button class="btn btn-danger pull-right" *ngIf="data.id" (click)="remove()"><i class="fa fa-trash"></i>&nbsp;&nbsp;Excluir</button>
                    </div>
                </div>
            </div>
        </div>      
      </div>    
    </form>
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->