<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Revendas <small>Lista geral</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink='/admin'><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Revendas</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <table id="revendas" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Nome</th>
              <th>CNPJ</th>
              <th>URL</th>
              <th>Status</th>
              <th>Cadastrado em</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of revendas" (click)="open(item)">
              <td>{{item.name}}</td>
              <td>{{item.cnpj}}</td>
              <td>{{item.site}}</td>
              <td>{{item.status}}</td>
              <td>{{item.created_at}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
