<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Unidades
    <small>Novo</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink='/admin'><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink='/admin/unidades'>Unidades</a></li>
    <li class="active">Novo</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <form role="form">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Informações Gerais</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="condominio"><span class="required">*</span> Condomínio</label>
                  <select class="form-control required" id="condominio" name="condominiums_id" [(ngModel)]="data.condominiums_id" (change)="getBlocks()">
                    <option value=""></option>
                    <option value="{{item.id}}" *ngFor="let item of condominios">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="bloco"><span class="required">*</span> Bloco</label>
                  <select class="form-control required" id="bloco" name="block_id" [(ngModel)]="data.block_id">
                    <option value=""></option>
                    <option value="{{item.id}}" *ngFor="let item of blocos">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="numero"><span class="required">*</span> Número</label>
                  <input type="number" class="form-control required" id="numero" name="number" [(ngModel)]="data.number">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="extensionNumber"><span class="required">*</span> Ramal</label>
                  <input type="text" class="form-control required" id="extensionNumber" name="extensionNumber" [(ngModel)]="data.extension_number">
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <!-- KEYS -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Digite abaixo os controles para a garagem</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" title="" (click)="addGarageKey()">
                <i class="fa fa-plus" style="margin-right: 3px;"></i> Adicionar controle</button>
            </div>            
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row" *ngFor="let rfid_key of data.rfid_garage_keys; let i=index">
              <div class="col-md-12">
                <div class="form-group pull-left" style="width: calc(100% - 60px)">
                  <input type="text" class="form-control" id="garage_key_{{i}}" name="garage_key_{{i}}" [(ngModel)]="rfid_key.code" placeholder="CÓDIGO">
                </div>
                <button class="btn btn-danger pull-right" (click)="removeGarageKey(i)"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>        

        <!-- VEHICLES -->
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Cadastre abaixo os veículos desta unidade</h3>
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" title="" (click)="addVehicle()">
                  <i class="fa fa-plus" style="margin-right: 3px;"></i> Adicionar veículo</button>
              </div>            
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row" *ngFor="let vehicle of data.vehicles; let i=index">
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" class="form-control required" id="automaker_{{i}}" name="automaker_{{i}}" [(ngModel)]="vehicle.automaker" placeholder="MARCA">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" class="form-control required" id="model_{{i}}" name="model_{{i}}" [(ngModel)]="vehicle.model" placeholder="MODELO">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" class="form-control required" id="color_{{i}}" name="color_{{i}}" [(ngModel)]="vehicle.color" placeholder="COR">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group pull-left" style="width: calc(100% - 60px)">
                    <input type="text" class="form-control required" id="license_plate_{{i}}" name="license_plate_{{i}}" [(ngModel)]="vehicle.license_plate" placeholder="PLACA">
                  </div>
                  <button class="btn btn-danger pull-right" (click)="removeVehicle(i)"><i class="fa fa-trash"></i></button>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>        
    
      </div>

      <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3 form-inline">
                        <button class="btn btn-primary pull-right" (click)="save()"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Salvar</button>
                        <button class="btn btn-danger pull-right" *ngIf="data.id" (click)="remove()"><i class="fa fa-trash"></i>&nbsp;&nbsp;Excluir</button>
                    </div>
                </div>
            </div>
        </div>      
      </div>    
    </form>
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->