<aside class="bg-sidebar"></aside>
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel" style="display:none">
      <!-- <div class="pull-left image">
        <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div> -->
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">PRINCIPAL</li>
      <li class="treeview">
        <a routerLink='/admin/revendas'>
          <i class="fa fa-address-card-o"></i>
          <span>Revendas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink='/admin/revendas/novo' (click)="hide()"><i class="fa fa-plus-circle"></i> Novo</a></li>
          <li><a routerLink='/admin/revendas' (click)="hide()"><i class="fa fa-list"></i> Listar</a></li>
        </ul>        
      </li>
      <li class="treeview">
        <a routerLink='/admin/condominios'>
          <i class="fa fa-building"></i>
          <span>Condomínios</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink='/admin/condominios/novo' (click)="hide()"><i class="fa fa-plus-circle"></i> Novo</a></li>
          <li><a routerLink='/admin/condominios' (click)="hide()"><i class="fa fa-list"></i> Listar</a></li>
        </ul>        
      </li>
      <li class="treeview">
        <a routerLink='/admin/blocos'>
          <i class="fa fa-cubes"></i>
          <span>Blocos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink='/admin/blocos/novo' (click)="hide()"><i class="fa fa-plus-circle"></i> Novo</a></li>
          <li><a routerLink='/admin/blocos' (click)="hide()"><i class="fa fa-list"></i> Listar</a></li>
        </ul>        
      </li>
      <li class="treeview">
        <a routerLink='/admin/unidades'>
          <i class="fa fa-cube"></i>
          <span>Unidades</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink='/admin/unidades/novo' (click)="hide()"><i class="fa fa-plus-circle"></i> Novo</a></li>
          <li><a routerLink='/admin/unidades' (click)="hide()"><i class="fa fa-list"></i> Listar</a></li>
        </ul>        
      </li>
      <li class="treeview">
        <a routerLink='/admin/usuarios'>
          <i class="fa fa-users"></i>
          <span>Usuários / Moradores</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink='/admin/usuarios/novo' (click)="hide()"><i class="fa fa-plus-circle"></i> Novo</a></li>
          <li><a routerLink='/admin/usuarios' (click)="hide()"><i class="fa fa-list"></i> Listar</a></li>
        </ul>        
      </li>
      <li class="header">RELATÓRIOS</li>
      <li><a routerLink='/admin/relatorios/acessos' (click)="hide()"><i class="fa fa-list"></i> <span>Acessos de visitantes</span></a></li>
      <li><a routerLink='/admin/relatorios/moradores' (click)="hide()"><i class="fa fa-list"></i> <span>Acessos de moradores</span></a></li>
      <!-- <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li> -->
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
