<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Blocos
    <small>Novo</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink='/admin'><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink='/admin/blocos'>Blocos</a></li>
    <li class="active">Novo</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <form role="form">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Informações Gerais</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="condominio"><span class="required">*</span> Condomínio</label>
                  <select class="form-control required" id="condominio" name="condominiums_id" [(ngModel)]="data.condominiums_id">
                    <option value=""></option>
                    <option value="{{item.id}}" *ngFor="let item of consominios">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name"><span class="required">*</span> Nome</label>
                  <input type="text" class="form-control required" name="name" id="name" [(ngModel)]="data.name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="andares"><span class="required">*</span> Andares</label>
                  <input type="number" class="form-control required" id="andares" name="floors" [(ngModel)]="data.floors">
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
    
      </div>

      <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3 form-inline">
                        <button class="btn btn-primary pull-right" (click)="save()"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Salvar</button>
                        <button class="btn btn-danger pull-right" *ngIf="data.id" (click)="remove()"><i class="fa fa-trash"></i>&nbsp;&nbsp;Excluir</button>
                    </div>
                </div>
            </div>
        </div>      
      </div>    
    </form>
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->