<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Condominios
    <small>Novo</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink='/admin'><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink='/admin/condominios'>Condominios</a></li>
    <li class="active">Novo</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <form role="form">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Informações Gerais</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="revenda"><span class="required">*</span> Revenda</label>
                  <select class="form-control required" id="revenda" name="resale_id" [(ngModel)]="data.resale_id">
                    <option value=""></option>
                    <option value="{{item.id}}" *ngFor="let item of resales">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name"><span class="required">*</span> Nome</label>
                  <input type="text" class="form-control required" name="name" id="name" [(ngModel)]="data.name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="tipo"><span class="required">*</span> Quantidade de Portões</label>
                  <input type="number" class="form-control required" id="gates" name="gates" min="0" [(ngModel)]="data.number_of_gates">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="status">Status</label>
                  <select class="form-control" id="status" name="status" [(ngModel)]="data.status">
                    <option value="1">ATIVO</option>
                    <option value="2">SUSPENSO</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group form-group-highlight">
                  <label for="applicationFeatures">Funcionalidades do Aplicativo</label>
                  <div class="checkbox">
                    <label>
                      <input name="visitors" id="visitors" type="checkbox" value="S" [(ngModel)]="data.application_features.visitors" class="application-features">Visitantes
                    </label>
                    <label>
                      <input name="delivery" id="delivery" type="checkbox" value="S" [(ngModel)]="data.application_features.delivery" class="application-features">Delivery
                    </label>
                    <label>
                      <input name="party" id="party" type="checkbox" value="S" [(ngModel)]="data.application_features.party" class="application-features">Festas
                    </label>
                    <label>
                      <input name="safeBox" id="safeBox" type="checkbox" value="S" [(ngModel)]="data.application_features.safeBox" class="application-features">Cofre
                    </label>
                    <label>
                      <input name="reports" id="reports" type="checkbox" value="S" [(ngModel)]="data.application_features.reports" class="application-features">Relatórios
                    </label>
                  </div>
                </div>
              </div>              
              <div class="col-md-6">
                <div class="form-group form-group-highlight">
                  <label for="communicationType">Meios de comunicação com o morador</label>
                  <div class="checkbox">
                    <label>
                      <input name="sms" id="sms" type="checkbox" value="S" [(ngModel)]="data.communication_type.sms" class="communication-type">SMS
                    </label>
                    <label>
                      <input name="ura" id="ura" type="checkbox" value="S" [(ngModel)]="data.communication_type.ura" class="communication-type">URA
                    </label>
                    <label>
                      <input name="intercom" id="intercom" type="checkbox" value="S" [(ngModel)]="data.communication_type.intercom" class="communication-type">Interfone
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <!-- network form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Configurações da rede</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" title="" (click)="addDNS()">
                <i class="fa fa-plus" style="margin-right: 3px;"></i> Adicionar DDNS</button>
            </div>            
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row" *ngFor="let config of data.dns; let i=index">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dns">DNS</label>
                  <input type="text" class="form-control" id="dns{{i}}" name="dns{{i}}" [(ngModel)]="config.dns">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group pull-left" style="width: calc(100% - 100px)">
                  <label for="ip">IP</label>
                  <input type="text" class="form-control" id="ip{{i}}" name="ip{{i}}" [(ngModel)]="config.ip">
                </div>
                <button class="btn btn-danger pull-right" (click)="removeDNS(i)" style="margin-top: 25px; margin-left: 10px" [disabled]="data.dns.length == 1"><i class="fa fa-trash"></i></button>
                <button class="btn btn-default pull-right" (click)="syncDNS(i)" style="margin-top: 25px" [disabled]="!config.dns"><i class="fa fa-refresh"></i></button>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Endereço</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cep"><span class="required">*</span> CEP</label>
                            <input type="text" class="form-control required" id="cep" name="cep" placeholder="Informe o seu CEP para o sistema buscar o endereço" autocomplete="off" maxlength="9" [(ngModel)]="data.cep" (input)="getAddress()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="endereco">Endereço</label>
                            <input type="text" class="form-control required" id="endereco" name="address" readonly="" [(ngModel)]="data.address" tabindex="-1">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="numero"><span class="required">*</span> Número</label>
                            <input type="number" min="1" class="form-control required" id="numero" name="number" autocomplete="off" [(ngModel)]="data.number" (change)="getLatLng()">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="complemento">Complemento</label>
                            <input type="text" class="form-control" id="complemento" name="complement" autocomplete="off" [(ngModel)]="data.complement">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="bairro">Bairro</label>
                            <input type="text" class="form-control required" id="bairro" name="district" readonly="" [(ngModel)]="data.district" tabindex="-1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cidade">Cidade</label>
                            <input type="text" class="form-control required" id="cidade" name="city" readonly="" [(ngModel)]="data.city" tabindex="-1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <input type="text" class="form-control required" id="estado" name="state" readonly="" [(ngModel)]="data.state" tabindex="-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" *ngIf="addressLoading == true">
                <i class="fa fa-refresh fa-spin"></i>
            </div>            
        </div>      
      </div>

      <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3 form-inline">
                        <button class="btn btn-primary pull-right" (click)="save()" [disabled]="saving"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Salvar</button>
                        <button class="btn btn-danger pull-right" *ngIf="data.id" (click)="remove()"><i class="fa fa-trash"></i>&nbsp;&nbsp;Excluir</button>
                    </div>
                </div>
            </div>
        </div>      
      </div>    
    </form>
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->