<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Blocos <small>Lista geral</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink='/admin'><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Blocos</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <table id="blocos" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Condomínio</th>
              <th>Bloco</th>
              <th>Andares</th>
              <th>Cadastrado em</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of blocos" (click)="open(item)">
              <td>{{item.condominium?.name}}</td>
              <td>{{item.name}}</td>
              <td>{{item.floors}}</td>
              <td>{{item.created_at}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
