/* You can add global styles to this file, and also import other style files */
.table-hover td {
    cursor: pointer;
}

.radio-text {
    display: inline-block;
    margin: 0 10px 0 5px;
}

.icheckbox_square-blue, .iradio_square-blue {
    margin-top: -2px;
}

.checkbox {   
    label {
        div {
            margin-right: 5px;
        }
    }
    
    label:first-of-type {
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .bg-sidebar {
        transform: translate(0, 0);
        width: 50px !important;
        z-index: 850;
    }
}