<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Relatório de Visitantes</h1>
  <ol class="breadcrumb">
    <li><a routerLink='/admin'><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Relatório de Visitantes</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <table id="logAcessos" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Condomínio</th>
              <th>Código</th>
              <th>Portão</th>
              <th>Tipo do Acesso</th>
              <th>Morador</th>
              <th>IP</th>
              <th>Status</th>
              <th>Data</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of acessos">
              <td>{{item.condominiums?.name}}</td>
              <td>{{item.code}}</td>
              <td>{{item.keyboard}}</td>
              <td>{{item.access?.type}}</td>
              <td>{{item.access?.visitor_name}}</td>
              <td>{{item.ip}}</td>
              <td><span class="label {{getColor(item.status)}}">{{getStatus(item.status)}}</span></td>
              <td>{{item.created_at}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
